/*
author:vandana
theme:ignyt-beerStation
version:1.0
*/
*{
    margin:0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: #656668;
    font-size: 1.5rem;
}
h3{
    font-size:1.5rem ;

}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
.text-white{
    color: white;
}
.container{

    width : 80%;
    margin: 0 auto;
    padding:1%
}
.logo{
    width:10%;
    float: left;
}
.menu{
    line-height: 50px;
}
.img-responsive{
    width:100%
}
.img-curve{
    border-radius: 1px;  
}

.text-right{
    text-align: right;
}
.clearfix{
    clear: both;
    float: none;
}
a{
    color:rgb(59, 47, 28);
    text-decoration: none;
}
a:hover{
    color:#275d93;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/*
css for food search section
*/
.food-search{
    background-image:url(../Images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0 ;
}
.text-center{
    text-align: center;
}
.food-search input[type="search"]
{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;

}
.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-primary:hover{
    background-color: rgb(218, 89, 14);
}
.btn-primary{
    background-color: red;
    color: white;
    cursor: pointer;
}
/*
css for categories
*/
.categories{
    padding:4% 0;
}
.box-3{
    
    width: 28%;
    float: left;
    margin:2%;
}


.food-menu{
    background-color: rgb(247, 241, 241);
    padding: 4% 0;
}

.food-menu-box{

    width: 43%;
    margin: 1%;
    float: left;
    padding: 2%;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
 margin-left: 8%;

}
.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: rgb(111, 113, 116);
}

/*
css for mobile size

*/

@media only screen and (max-width:768px)
{
    .logo{
    width: 80%;
    float: none;
    margin: 1% auto;
    }
    .menu ul{
        text-align: center;
    }
    .food-search input[type="search"]
    {
        width: 90%;
        margin-bottom: 3%;
        padding:1%;

    }
    .btn{
        width:90%;
        padding: 2%;

    }
    .food-search{
        padding: 10% 0;

    }
    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .food-menu{
        padding: 20% auto;
    }
    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .box-3{
        width: 95%;
        margin: 4% auto;
    }
    
}